body {
    background-color: #0098fd;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.8;
    text-align: center;
    margin: 0;
    padding: 0;
    }
    
    header {
    background-color: #4242428c;
    color: #ffffff;
    padding: 20px;
    }
    
    h1 {
    font-size: 2.5rem;
    font-weight: bold;
    }
    
    header img {
    width: 80%;
    max-width: 500px;
    height: auto;
    border: 5px solid #ffffff;
    margin: 20px auto;
    display: block;
    }
    
    p {
    font-size: 1.8rem;
    }
    
    img {
    width: 80%;
    max-width: 600px;
    height: auto;
    border: 5px solid #ffffff;
    margin: 20px auto;
    display: block;
    }
    
    #acessibilidade {
        position: absolute;
        top: 20px;
        left: 20px;
        display: flex;
        gap: 10px;
        }
        
        .btn {
        font-size: 1.2rem;
        padding: 10px 15px;
        margin: 5px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        }
        
        #aumentar-fonte {
        background-color: #66CC66;
        color: white;
        }
        
        #aumentar-fonte:hover {
        background-color: #4CAF50;
        }
        
        #diminuir-fonte {
        background-color: #FF8C00;
        color: white;
        }
        
        #diminuir-fonte:hover {
        background-color: #E07B00;
        }
        
        :focus {
        outline: 3px solid #003366;
        }
    
    @media (max-width: 600px) {
    body {
    font-size: 1.2rem;
    }
    h1 {
    font-size: 2rem;
    }
    p {
    font-size: 1.5rem;
    }
    }