body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.8;
    text-align: center;
    margin: 0;
    padding: 0;
    }
    
    header {
    background-color: #6e58013d;
    color: #000;
    padding: 20px;
    }
    
    h1 {
    font-size: 2.5rem;
    font-weight: bold;
    }
    
    header img {
    width: 80%;
    max-width: 500px;
    height: auto;
    border: 5px solid #c5c5c5;
    margin: 20px auto;
    display: block;
    }
    
    p {
    font-size: 1.8rem;
    }
    
    img {
    width: 80%;
    max-width: 600px;
    height: auto;
    border: 5px solid #c2c2c2;
    margin: 20px auto;
    display: block;
    }
    
    :focus {
    outline: 3px solid #adadad;
    }
    
    @media (max-width: 600px) {
    body {
    font-size: 1.2rem;
    }
    h1 {
    font-size: 2rem;
    }
    p {
    font-size: 1.5rem;
    }
    }